src/wsdl/ubuntu4.saluton.dk_4930/Galgespil.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://galgeleg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://galgeleg/" name="GalgelogikImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://galgeleg/" schemaLocation="http://ubuntu4.saluton.dk:4930/Galgespil?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getBrugteBogstaver">
<part name="parameters" element="tns:getBrugteBogstaver"></part>
</message>
<message name="getBrugteBogstaverResponse">
<part name="parameters" element="tns:getBrugteBogstaverResponse"></part>
</message>
<message name="getSynligtOrd">
<part name="parameters" element="tns:getSynligtOrd"></part>
</message>
<message name="getSynligtOrdResponse">
<part name="parameters" element="tns:getSynligtOrdResponse"></part>
</message>
<message name="getOrdet">
<part name="parameters" element="tns:getOrdet"></part>
</message>
<message name="getOrdetResponse">
<part name="parameters" element="tns:getOrdetResponse"></part>
</message>
<message name="getAntalForkerteBogstaver">
<part name="parameters" element="tns:getAntalForkerteBogstaver"></part>
</message>
<message name="getAntalForkerteBogstaverResponse">
<part name="parameters" element="tns:getAntalForkerteBogstaverResponse"></part>
</message>
<message name="erSidsteBogstavKorrekt">
<part name="parameters" element="tns:erSidsteBogstavKorrekt"></part>
</message>
<message name="erSidsteBogstavKorrektResponse">
<part name="parameters" element="tns:erSidsteBogstavKorrektResponse"></part>
</message>
<message name="erSpilletVundet">
<part name="parameters" element="tns:erSpilletVundet"></part>
</message>
<message name="erSpilletVundetResponse">
<part name="parameters" element="tns:erSpilletVundetResponse"></part>
</message>
<message name="erSpilletTabt">
<part name="parameters" element="tns:erSpilletTabt"></part>
</message>
<message name="erSpilletTabtResponse">
<part name="parameters" element="tns:erSpilletTabtResponse"></part>
</message>
<message name="erSpilletSlut">
<part name="parameters" element="tns:erSpilletSlut"></part>
</message>
<message name="erSpilletSlutResponse">
<part name="parameters" element="tns:erSpilletSlutResponse"></part>
</message>
<message name="nulstil">
<part name="parameters" element="tns:nulstil"></part>
</message>
<message name="nulstilResponse">
<part name="parameters" element="tns:nulstilResponse"></part>
</message>
<message name="gætBogstav">
<part name="parameters" element="tns:gætBogstav"></part>
</message>
<message name="gætBogstavResponse">
<part name="parameters" element="tns:gætBogstavResponse"></part>
</message>
<message name="logStatus">
<part name="parameters" element="tns:logStatus"></part>
</message>
<message name="logStatusResponse">
<part name="parameters" element="tns:logStatusResponse"></part>
</message>
<message name="hentOrdFraDr">
<part name="parameters" element="tns:hentOrdFraDr"></part>
</message>
<message name="hentOrdFraDrResponse">
<part name="parameters" element="tns:hentOrdFraDrResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"></part>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"></part>
</message>
<portType name="Galgelogik">
<operation name="getBrugteBogstaver">
<input wsam:Action="http://galgeleg/Galgelogik/getBrugteBogstaverRequest" message="tns:getBrugteBogstaver"></input>
<output wsam:Action="http://galgeleg/Galgelogik/getBrugteBogstaverResponse" message="tns:getBrugteBogstaverResponse"></output>
</operation>
<operation name="getSynligtOrd">
<input wsam:Action="http://galgeleg/Galgelogik/getSynligtOrdRequest" message="tns:getSynligtOrd"></input>
<output wsam:Action="http://galgeleg/Galgelogik/getSynligtOrdResponse" message="tns:getSynligtOrdResponse"></output>
</operation>
<operation name="getOrdet">
<input wsam:Action="http://galgeleg/Galgelogik/getOrdetRequest" message="tns:getOrdet"></input>
<output wsam:Action="http://galgeleg/Galgelogik/getOrdetResponse" message="tns:getOrdetResponse"></output>
</operation>
<operation name="getAntalForkerteBogstaver">
<input wsam:Action="http://galgeleg/Galgelogik/getAntalForkerteBogstaverRequest" message="tns:getAntalForkerteBogstaver"></input>
<output wsam:Action="http://galgeleg/Galgelogik/getAntalForkerteBogstaverResponse" message="tns:getAntalForkerteBogstaverResponse"></output>
</operation>
<operation name="erSidsteBogstavKorrekt">
<input wsam:Action="http://galgeleg/Galgelogik/erSidsteBogstavKorrektRequest" message="tns:erSidsteBogstavKorrekt"></input>
<output wsam:Action="http://galgeleg/Galgelogik/erSidsteBogstavKorrektResponse" message="tns:erSidsteBogstavKorrektResponse"></output>
</operation>
<operation name="erSpilletVundet">
<input wsam:Action="http://galgeleg/Galgelogik/erSpilletVundetRequest" message="tns:erSpilletVundet"></input>
<output wsam:Action="http://galgeleg/Galgelogik/erSpilletVundetResponse" message="tns:erSpilletVundetResponse"></output>
</operation>
<operation name="erSpilletTabt">
<input wsam:Action="http://galgeleg/Galgelogik/erSpilletTabtRequest" message="tns:erSpilletTabt"></input>
<output wsam:Action="http://galgeleg/Galgelogik/erSpilletTabtResponse" message="tns:erSpilletTabtResponse"></output>
</operation>
<operation name="erSpilletSlut">
<input wsam:Action="http://galgeleg/Galgelogik/erSpilletSlutRequest" message="tns:erSpilletSlut"></input>
<output wsam:Action="http://galgeleg/Galgelogik/erSpilletSlutResponse" message="tns:erSpilletSlutResponse"></output>
</operation>
<operation name="nulstil">
<input wsam:Action="http://galgeleg/Galgelogik/nulstilRequest" message="tns:nulstil"></input>
<output wsam:Action="http://galgeleg/Galgelogik/nulstilResponse" message="tns:nulstilResponse"></output>
</operation>
<operation name="gætBogstav">
<input wsam:Action="http://galgeleg/Galgelogik/gætBogstavRequest" message="tns:gætBogstav"></input>
<output wsam:Action="http://galgeleg/Galgelogik/gætBogstavResponse" message="tns:gætBogstavResponse"></output>
</operation>
<operation name="logStatus">
<input wsam:Action="http://galgeleg/Galgelogik/logStatusRequest" message="tns:logStatus"></input>
<output wsam:Action="http://galgeleg/Galgelogik/logStatusResponse" message="tns:logStatusResponse"></output>
</operation>
<operation name="hentOrdFraDr">
<input wsam:Action="http://galgeleg/Galgelogik/hentOrdFraDrRequest" message="tns:hentOrdFraDr"></input>
<output wsam:Action="http://galgeleg/Galgelogik/hentOrdFraDrResponse" message="tns:hentOrdFraDrResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://galgeleg/Galgelogik/hentOrdFraDr/Fault/Exception"></fault>
</operation>
<operation name="Login">
<input wsam:Action="http://galgeleg/Galgelogik/LoginRequest" message="tns:Login"></input>
<output wsam:Action="http://galgeleg/Galgelogik/LoginResponse" message="tns:LoginResponse"></output>
</operation>
</portType>
<binding name="GalgelogikImplPortBinding" type="tns:Galgelogik">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getBrugteBogstaver">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSynligtOrd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getOrdet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAntalForkerteBogstaver">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSidsteBogstavKorrekt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSpilletVundet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSpilletTabt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="erSpilletSlut">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="nulstil">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="gætBogstav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="logStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="hentOrdFraDr">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="Login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="GalgelogikImplService">
<port name="GalgelogikImplPort" binding="tns:GalgelogikImplPortBinding">
<soap:address location="http://ubuntu4.saluton.dk:4930/Galgespil"></soap:address>
</port>
</service>
</definitions>